/*
Late night bath palette: https://lospec.com/palette-list/late-night-bath
*/

/* VARIABLES */
:root {
    --primary_color: #4a7a96;
    --secondary_color: #46425e;
    --accent_color: ;
    --background_color: ;
    --background_color_darker: ;
}

/* STYLES */ 
body {
    margin: 0;
    background: linear-gradient(to top, #5b5d70, #282d3c);
    font-family: "Inter";
    height: auto;
}

/* HEADER */
.header {
    display: flex;
    padding: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    background-color:#282d3c;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: var(--primary_color);
    box-shadow: 0px 13px 15px -3px rgba(246, 145, 151, 0.1);
}

#logo_img {
    
}

#vote_link {
    color: black;
}

/* AWARDS CATEGORIES */
.body {
    margin-top: 1.5%;
    margin-left: 15%;
    margin-right: 15%;
}

.award_body {
    display: flex;

    outline: 0px; 
    outline-offset: 4px;
    outline-color: #f69197;
    outline-style: solid;
    
    background-color: #446ba5;
    box-shadow: 0px 0px 10px 4px rgba(246, 145, 151, 0.2);
}

.award_img {
    width: 30%;
    height: auto;
    border-radius: 0;
}

.award_txt {
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    margin-left: 2%;
    margin-right: 5%;
}

.award_name {
    color: #ffc4b8;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.award_description {
    color: #46425e;
    font-size: 1rem;

    margin-top: 1.5%;
}