:root {
    --primary_background_color: darkgray;
    --secondary_background_color: gray;
    --card_color: white;
}

/* STYLES */ 
body {
    margin: 0;
}

/* HEADER */
.header {
    height: 15vh;
    
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--secondary_background_color);
    box-shadow: 0px 3px 15px -2px #00000059;
}

#logo_img {
    
}

/* HERO */
.hero {
    width: 100vw;
    height: 75vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* AWARDS CATEGORIES */
.main {
    margin-top: 2.5%;
    margin-left: 22.5%; 
    margin-right: 22.5%;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
}

.award_card {
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    display: flex;
    gap: 2.5%;

    border-bottom: solid black;
    background-color: var(--card_color);
}

.right_aligned_card {
    flex-direction: row-reverse;
}

.award_img {
    width: 17.5vw;
    height: auto;
}

.award_txt {
    display: flex;
    flex-direction: column;
}

.award_name {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1rem;

    font-size: 2vw;

    border-bottom: solid black;
}

.award_description {
    font-size: 1vw;
}