:root {
    --primary_background_color: #4776c3; 
    --header_color: #aaefd5;
    --card_default_color: #f5554a;
    --border_color: #2d2144;
    --outline_color: #2d2144;
    --accent_color: #2d2144;
    --shadow_color: #2d214495;
    --font_color_main: #f7f7ea;
    --font_color_secondary: #2d2144;
}

.header {
    z-index: 1;

    height: 15vh;
    width: 100%;
    
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: solid var(--outline_color);
    
    background-color: var(--header_color);
    box-shadow: 0px 7px 0 var(--shadow_color);
}

#logo_img {
    
}

/* MOBILE */
@media only screen and (max-width: 767px) {

    .header {
        height: 10vh;
    }
}